.head-with-border{
    text-align: center;
    background-color: #fff;
    border: 2px solid #e2494c;
    color: #e2494c;
    margin: 100px auto 40px;
    border-radius: 15px;
    max-width: 300px;
    text-transform: uppercase;
    position: relative;
    @media #{$minSmall} {
        &::before {
            content: "";
            width: 825px;
            height: 1.5px;
            background-color: #e2494c;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}